@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#d4d4d4] text-black font-sans;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

@keyframes scan {
  0% { transform: translateX(-100%) skewX(-12deg); }
  100% { transform: translateX(100%) skewX(-12deg); }
}

.animate-scan {
  animation: scan 4s linear infinite;
}

@keyframes vertical-scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(-33.33%); }
}

.animate-vertical-scroll {
  animation: vertical-scroll linear infinite;
}